body { font-family: Arial; background:#222; color:#fff; text-align:center; margin-top:50px;}
button { font-size:2em; padding:20px 40px; border:none; border-radius:10px; cursor:pointer; background:#444; color:#fff; transition:0.2s;}
button:hover { background:#666; }
